*DS_Store
.ipynb_checkpoints
__pycache__
__pycache__/


# we don't want the outputs to be included
training_output/*
inference_output/*

# data.csv
# data_large.csv
# data_training.csv
# log_train.txt
